<a href="https://colab.research.google.com/github/marianeneiva/kaggleAPIToken/blob/main/kaggleAPIToken.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#AUTOMATIC DOWNLOAD DATA FROM KAGGLE TO GOOGLE COLAB | KAGGLE API TOKEN

I often use google colab to test some experiments and to share code with my partners. 

Recently, I have been using a lot of Kaggle datasets and discovered how to join them! Trust me, this will make your life easier! So, let's code!

#Mounting google drive

Google Colab and Google Drive have a strong relationship! Instead of uploading your files directly to colab, you can simply mount your drive and access all your folders and files.

Remember that Google Colab can disconnect, and you lose all uploaded files to your notebook if you do not use Google drive.

ps1: in this step, you will have to accept google terms ([Figure 1](https://github.com/marianeneiva/kaggleAPIToken/blob/main/google1.png)) and copy and paste a code in Colab notebook ([Figure 2](https://github.com/marianeneiva/kaggleAPIToken/blob/main/google2.png))

#Change directory

The second step is to change the directory (command **cd**) to the folder you want to save the downloaded files from Kaggle (in my case is: portfolio_dataScience).

In [6]:
from google.colab import drive
drive.mount('/content/gdrive')

%cd /content/gdrive/My Drive/portfolio_dataScience

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).
/content/gdrive/My Drive/portfolio_dataScience

#Get API token from Kaggle

To download from Kaggle to use in competitions and create your own analysis, you have to download a JSON file with the API token. 

To download, go to your Kaggle account settings ([Figure 3](https://github.com/marianeneiva/kaggleAPIToken/blob/main/google3.png)) and scroll the page to find the API section ([Figure 4](https://github.com/marianeneiva/kaggleAPIToken/blob/main/google4.png)).

 Download the kaggle.json file and upload it to the drive (in the same folder you previously opened)([Figure 5](https://github.com/marianeneiva/kaggleAPIToken/blob/main/google5.png))

#Download dataset from Kaggle

After the setup, you can download the file using the command line. In google colab, you can simply add '!' (exclamation point) at the beginning of the line to use commands in the shell. 

To get the correct command, you have to follow the steps below:
- Go to the dataset page
- find the three dots next to the button New Notebook
- Click in COPY API Command
- Paste the code in colab (with !) 
- Can't find it? [See figure 6](https://github.com/marianeneiva/kaggleAPIToken/blob/main/google6.png).

You can list all files in the folder with **!ls**

In [7]:
!kaggle datasets download -d dansbecker/melbourne-housing-snapshot

!ls

Downloading melbourne-housing-snapshot.zip to /content/gdrive/My Drive/portfolio_dataScience
  0% 0.00/451k [00:00<?, ?B/s]
100% 451k/451k [00:00<00:00, 14.4MB/s]
kaggle.json  melb_data.csv  melbourne-housing-snapshot.zip

#Unzip the files

As you may have seen, the file downloaded to your folder is a compressed file. Therefore, use the command below:

In [8]:
!unzip \*.zip  && rm *.

!ls

Archive:  melbourne-housing-snapshot.zip
replace melb_data.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: n
rm: cannot remove '*.': No such file or directory
kaggle.json  melb_data.csv  melbourne-housing-snapshot.zip

#Use your data

Now you can use your data like you were using your local python IDE. 

Enjoy it!

In [9]:
import pandas as pd

data = pd.read_csv('melb_data.csv')

data.head()

       Suburb           Address  ...             Regionname Propertycount
0  Abbotsford      85 Turner St  ...  Northern Metropolitan        4019.0
1  Abbotsford   25 Bloomburg St  ...  Northern Metropolitan        4019.0
2  Abbotsford      5 Charles St  ...  Northern Metropolitan        4019.0
3  Abbotsford  40 Federation La  ...  Northern Metropolitan        4019.0
4  Abbotsford       55a Park St  ...  Northern Metropolitan        4019.0

[5 rows x 21 columns]